<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    Mage
 * @package     Magelog_Mql
 * @copyright   March 1 2011 jk
 */
-->
<config>
    <modules>
        <Magelog_Mql>
            <version>0.1.1</version>
        </Magelog_Mql>
    </modules>
    <admin>
        <routers>
            <mql>
                <use>admin</use>
                <args>
                    <module>Magelog_Mql</module>
                    <frontName>mql</frontName>
                </args>
            </mql>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mql>
                    <file>mql.xml</file>
                </mql>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <mql module="mql">
                        <title>MQL</title>
                        <action>mql/index/index</action>
                        <children>
                            <index>
                                <title>Dashboard</title>
                                <action>mql/index/index</action>
                            </index>
                            <console>
                                <title>Console</title>
                                <action>mql/console/index</action>
                            </console>
                        </children>

                    </mql>
                </children>
            </system>
        </menu>
    </adminhtml>
    <global>
        <models>
            <mql>
                <class>Magelog_Mql_Model</class>
                <resourceModel>mql_mysql4</resourceModel>
            </mql>
            <mql_mysql4>
                <class>Magelog_Mql_Model_Mysql4</class>
                <entities>
                    <model>
                        <table>mql_model</table>
                    </model>
                </entities>
            </mql_mysql4>
        </models>
        <resources>
            <mql_setup>
                <setup>
                    <module>Magelog_Mql</module>
                </setup>
            </mql_setup>
        </resources>
        <helpers>
            <mql>
                <class>Magelog_Mql_Helper</class>
            </mql>
        </helpers>
        <blocks>
            <mql>
                <class>Magelog_Mql_Block</class>
            </mql>
        </blocks>
    </global>
</config>